@model SmsMvc.Models.Entity.Tbl_Class
@{
    ViewBag.Title = "GetClass";
    Layout = "~/Views/Shared/MyLayout_.cshtml";
}

<h2>Update Class</h2>

@using (Html.BeginForm("UpdateClass", "Class", FormMethod.Post))
{
    <div class="form-group">

        @Html.LabelFor(m => m.ClassId)
        @Html.TextBoxFor(m => m.ClassId, new { @class = "form-control", @readonly = "true" })

        <br />

        @Html.LabelFor(m => m.ClassName)
        @Html.TextBoxFor(m => m.ClassName, new { @class = "form-control" })

    </div>

    <div>
        <button class="btn btn-primary">Save</button>
    </div>
}