@model SmsMvc.Models.Entity.Tbl_Teacher
@{
    Layout = null;
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
    <div id="login">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            <h3 class="text-center text-white pt-5"> </h3>
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form id="login-form" class="form" action="" method="post">
                                <h3 class="text-center text-info">Login</h3>
                                <div class="form-group">
                                    @*@Html.LabelFor(m => m.TeacherNumber, new { @class = "text-info" })*@
                                    <label class="text-info">Number</label>
                                    <br />
                                    @Html.TextBoxFor(m => m.TeacherNumber, new { @class = "form-control", @placeholder = "Number" })
                                </div>
                                <div class="form-group">
                                    @*@Html.LabelFor(m => m.TeacherPassword, new { @class = "text-info" })*@
                                    <label class="text-info">Password</label>
                                    <br />
                                    @Html.PasswordFor(m => m.TeacherPassword, new { @class = "form-control", @placeholder = "Password" })
                                    @ViewBag.message
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info btn-md">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
